<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css" />
  <title>Car Parts</title>
  <%- include('./partials/_navbar.ejs') %>
</head>
<body>
  <div class="index-body">
    <h1>Welcome to the Dream Car Build</h1>
    <div class="index-container">
      <div class="auth-links">
        <a href="/auth/sign-up" class="signup-link">Sign Up</a>
        <a href="/auth/sign-in" class="signin-link">Sign In</a>
      </div>
    </div>
  </div>
</body>
</html>